<div>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center">
      <div class="nav" fxLayout="row">
        <a routerLink="/">
          <img class="logo" src="/assets/images/logo.png" alt="Logo" />
        </a>
        <a class="link" routerLink="/">Home</a>
        <a class="link" routerLink="about">About</a>
        <!-- <a class="link">Portifolio</a> -->
        <a class="link" routerLink="contact">Contact</a>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
